%ul#discount_packages.packages.discounteds
  - @shop_discount.discountables.for('ShopPackage').each do |package|
    = render :partial => 'admin/shop/discounts/edit/shared/package', :locals => { :package => package }